<div class="tracks-page">
  <div class="tracks-header">
    <h1 class="tracks-title">Tracks</h1>
    <button routerLink="/create" class="create-button">Criar track</button>
  </div>
  <div class="table-wrapper">
    <table class="tracks-table" *ngIf="tracks()">
      <thead>
        <tr>
          <th>Thumbnail</th>
          <th>Data de lançamento</th>
          <th>Título</th>
          <th>Artista</th>
          <th>Duração</th>
          <th>Prévia</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of tracks()?.data">
          <td>
            <img
              [src]="track.album_thumbnail_url"
              alt="{{ track.title }}"
              class="tracks-thumbnail"
            />
          </td>
          <td>
            {{ track.release_date | date: 'dd/MM/yyyy' }}
          </td>
          <td>
            {{ track.title }}
          </td>
          <td>
            {{ track.artists ? track.artists.map((artist) => artist.name).join(', ') : '' }}
          </td>
          <td>
            {{ track.duration | date: 'mm:ss' }}
          </td>
          <td>
            <audio *ngIf="track.preview_url" [src]="track.preview_url" controls></audio>
          </td>
          <td>
            <a
              *ngIf="track.spotify_url"
              [href]="track.spotify_url"
              target="_blank"
              class="spotify-link"
              >Abra no Spotify</a
            >
          </td>
          <td>
            {{ track.is_available_in_brazil ? 'Disponível no Brasil' : '' }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noTracks>
    <p *ngIf="!loading() && error()">{{ error() }}</p>
    <p *ngIf="!loading() && !error()">Nenhuma track encontrada.</p>
    <p *ngIf="loading()">Carregando...</p>
  </ng-template>
</div>
